name: CI

on:
  push:
  pull_request:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Poetry
        run: |
          pip install poetry

      - name: Configure Poetry
        run: |
          poetry config virtualenvs.in-project true

      - name: Install dependencies (from poetry.lock)
        run: |
          poetry install --no-interaction --no-root

      - name: Make output directory
        run: mkdir -p examples/scripts

      - name: Convert notebook to Python script
        run: |
          poetry run jupyter nbconvert --to script examples/BasicSampler.ipynb --output scripts/BasicSampler

      - name: Run notebook script
        run: |
          poetry run python examples/scripts/BasicSampler.py
